<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings</title>
</head>
<body>
    <h1>Paintings</h1>
    <ul>
        {% for painting in paintings %}
            <li>
                <a href="{% url 'painting-detail' painting.pk %}">{{ painting.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'painting-add' %}">Добавить новую галерею</a>
</body>
</html>
